* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    line-height: 1.6;
}


/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #111827;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #38bdf8;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 35px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a:hover {
    color: #38bdf8;
}


/* Hero */
.hero {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 10%;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero h1 span {
    color: #38bdf8;
}

.hero h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.hero p {
    max-width: 800px;
    font-size: 20px;
    color: #cbd5e1;
}


/* Buttons */
.buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.btn,
.project-btn {
    display: inline-block;
    padding: 12px 25px;
    background: #38bdf8;
    color: #0f172a;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover,
.project-btn:hover {
    background: #7dd3fc;
    transform: translateY(-2px);
}


/* Sections */
.about,
.skills,
.projects,
.contact {
    padding: 80px 10%;
    text-align: center;
}

.about h2,
.skills h2,
.projects h2,
.contact h2 {
    font-size: 38px;
    color: #38bdf8;
    margin-bottom: 30px;
}


/* About */
.about p {
    max-width: 850px;
    margin: auto;
    font-size: 20px;
    color: #cbd5e1;
}


/* Skills */
.skills p {
    font-size: 22px;
    color: #e2e8f0;
}


/* Projects */
.project-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.project-card {
    width: 400px;
    background: #1e293b;
    padding: 30px;
    border-radius: 12px;
    text-align: left;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.project-card h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.project-card p {
    color: #cbd5e1;
    margin-bottom: 15px;
}

.project-card strong {
    color: #38bdf8;
}

.project-btn {
    margin-top: 10px;
}


/* Contact */
.contact p {
    max-width: 700px;
    margin: 0 auto 25px;
    color: #cbd5e1;
    font-size: 18px;
}


/* Mobile */
@media (max-width: 768px) {

    nav {
        flex-direction: column;
        gap: 20px;
    }

    nav ul {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero h1 {
        font-size: 36px;
    }

    .hero h2 {
        font-size: 26px;
    }

    .hero p {
        font-size: 18px;
    }

    .buttons {
        flex-direction: column;
    }

    .project-card {
        width: 100%;
    }
}
